@charset "UTF-8";
/* CSS del niñato + modificaciones */
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans|Varela+Round&display=swap");
@font-face {
  font-family: Pokemon;
  src: url(../fuentes/Pokemon_Solid.ttf);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  padding: 70px 50px;
  background-image: url("../images/Background.jpg");
  z-index: -1;
  background-size: cover;
}

.title {
  font-family: Pokemon;
  letter-spacing: 10px;
  -webkit-text-stroke: 2px #316ab2;
  color: #ffcb05;
  font-size: 3em;
  padding-bottom: 1.2em;
  text-align: center;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.card {
  background-color: #fcfcfc;
  border-radius: 15px;
  -webkit-box-shadow: -1px 15px 30px -12px #020202;
          box-shadow: -1px 15px 30px -12px #020202;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 700px;
  /* margin: 50px 20px; */
  width: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  /* &:hover {
    transform: scale(1.17);
  } */
}

.card-header {
  background-color: #45ad45;
  border-radius: 15px 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
}

.card-header__image {
  position: absolute;
  width: 250px;
  bottom: -25px;
}

.card-header__image-evolve {
  position: absolute;
  width: 250px;
  bottom: -25px;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

.card-header__image-evolve--blastoise {
  position: absolute;
  width: 250px;
  bottom: -25px;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.card-header__image-type-2 {
  width: 220px;
  bottom: -25px;
}

.card-header__image-type-3 {
  width: 230px;
  bottom: -25px;
}

.card-header__image--charmander {
  position: absolute;
  bottom: -25px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  width: 244px;
  height: 266px;
  -o-object-fit: fill;
     object-fit: fill;
}

.card-header--bulbasaur {
  background-color: #79A75B;
}

.card-header--charmander {
  background-color: #F3713C;
}

.card-header--squirtle {
  background-color: #63a7eb;
}

.card-header--venusaur {
  background-color: #79A75B;
}

.card-header--charizard {
  background-color: #F3713C;
}

.card-header--blastoise {
  background-color: #63a7eb;
}

.card-body {
  margin-top: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2em;
  text-align: center;
}

.card-body__header {
  font-family: "Varela Round", sans-serif;
  margin-bottom: 5%;
  text-align: right;
  padding-left: 0;
}

.card-body__text {
  font-size: 0.8em;
}

.card-footer {
  background-color: #f4e04d;
  border-radius: 0 0 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15%;
  width: 100%;
}

.card-footer__static {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 0.8em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-footer__static:not(:last-child) {
  border-right: 1px solid #fcfcfc;
}

.card-footer__static-header {
  font-family: "Varela Round", sans-serif;
  font-size: 1.2em;
}

.card-footer__static span {
  font-weight: bold;
}

.card-footer__static-type {
  padding: 3%;
}

.card-footer__static-type--plant {
  height: 13px;
  width: 40px;
  text-align: center;
  background-color: #7c5;
  font-size: 0.5em;
  border-radius: 5px;
  padding: 5% 15%;
  color: white;
}

.card-footer__static-type--poison {
  height: 13px;
  width: 40px;
  text-align: center;
  background-color: #a59;
  font-size: 0.5em;
  border-radius: 5px;
  padding: 5% 15%;
  color: white;
}

.card-footer__static-type--fire {
  height: 13px;
  width: 40px;
  text-align: center;
  background-color: #f42;
  font-size: 0.5em;
  border-radius: 5px;
  padding: 5% 15%;
  color: white;
}

.card-footer__static-type--water {
  height: 13px;
  width: 40px;
  text-align: center;
  background-color: #39f;
  font-size: 0.5em;
  border-radius: 5px;
  padding: 5% 15%;
  color: white;
}

.card-footer__static-type--flying {
  height: 13px;
  width: 40px;
  text-align: center;
  background-color: #89f;
  font-size: 0.5em;
  border-radius: 5px;
  padding: 5% 15%;
  color: white;
}

.card-footer__static-specie {
  font-family: "Varela Round", sans-serif;
  font-size: 1.1em;
}

.base-stats {
  margin-top: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1em;
  text-align: center;
}

.base-stats__atribute {
  text-align: right;
}

.base-stats__table {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 1rem;
}

.base-stats__cell-num, .base-stats__cell-total {
  padding-left: 2%;
  padding-right: 1px;
  white-space: nowrap;
  text-align: right;
}

.base-stats__cell-barchart {
  padding-left: 20px;
}

.base-stats__barchart-bar {
  height: 0.75rem;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
}

.base-stats__barchart-bar--rank1 {
  background-color: #f34444;
}

.base-stats__barchart-bar--rank2 {
  background-color: #ff7f0f;
}

.base-stats__barchart-bar--rank3 {
  background-color: #ffdd57;
}

.base-stats__barchart-bar--rank4 {
  background-color: #a0e515;
}

.base-stats__barchart-bar--rank5 {
  background-color: #23cd5e;
}

.base-stats__barchart-bar--rank6 {
  background-color: #00c2b8;
}

@media all and (max-width: 1360px) {
  body {
    background-image: none;
    background-color: #79caf9;
  }
  .cards-container {
    margin: 200px;
  }
}
/*# sourceMappingURL=style.css.map */